html, body {
    margin: 0;
    padding: 10px;
}



body {
	font: 'Raleway', sans-serif;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .25em;
	/*height: 100%;*/
	/*top: 15%;*/
	/*background: linear-gradient(to right, red, yellow);*/
}

p {
	font-size: 1.3em;
}

h1 {
	font-size: 3vh;
	font: 'Raleway', sans-serif;
	color: rgba(255, 255, 255, 0.85);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	width: 100%; 
	
}

h2 {
	color: rgba(255, 255, 255, 1.0);
	font-weight: 400;
	font: 'Raleway', sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.3em;

}

.content{
	min-height: 100%;
}

.content-inside{
	padding: 20px;
	padding-bottom: 100px;
}

.footer {
	font: 'Raleway', sans-serif;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .25em;
	font-size: .6em;
	height: -10vh;
	/*margin-top: -50vh;*/
}



.btn {
  background-color: #4CAF50; /* Green */
  font-size: 2.5vh;
  border: none;
  color: white;
  padding: 8px 16px;
  margin: 1.5vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vh;
}

h5{
	font-weight: 500;
	font-size: 0.8em;
	line-height: 1em;
	font: 'Raleway', sans-serif;
	color: rgba(255, 255, 255, 1.0);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.25em;

}
